html{
	background: #ccffcc;
}
body{
	margin-left: 9%;
	margin-right: 9%;
	font-family: franklin gothic;
	padding-bottom : 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4169e1;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: .5s;
}

li a:hover {
  background-color: white;
  color: #4169e1;
}

/*.active {
	background-color: ;
}*/
h1{
	font-size:45px;
	font-family: Verdana;
	color: #2e1278;
}

h2{
	font-size:25px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: Verdana;
	color: #2e1278;
}

h3{
	font-size: 19px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	font-family: 'Lato', sans-serif;
	
}

h4{
	font-size: 14px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	font-family: Verdana;
	
}


p{
	margin-top: 0;
	padding-top:0;
}

hr{
	margin-top: 0px;
	padding-top: 0px;
	border-top: 1px dotted;
	clear: both;
}
/*
	got the clear attribute from this link:
	https://www.w3schools.com/cssref/pr_class_clear.asp
*/

.headshot{
	border: 4px solid #2e1278;
	border-radius: 25%;
	
}

.project{
	border: 4px solid #2e1278;
	border-radius: 8%;
	margin: 5px;
}

.column{
	float:left;
	width: 50%;
}

.row:after{
	content: "";
    display: table;
    clear: both;
    }
	
	/*
	got this bit of CSS to make 2 columns from: https://www.educative.io/edpresso/how-to-create-columns-in-html
	*/
	
	
.info{
	list-style: circle;
	margin-top: 0;
	padding-top: 0;
}

.resume{
	background-color : #4169e1;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border-color: #4169e1;
	font-size: 20px;
	margin-bottom: 15px;
	transition-duration: .5s;
	text-decoration: none;
}

.mybutton {
  position: fixed;
  bottom: 25px;
  right: 10px;
}

.resume:hover{
	background-color: white;
	color:#4169e1;
}

.special{
	text-decoration: none;
	color: white;
}

.special:hover{
	color: #4169e1;
}

.joined{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}